doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='/stylesheets/style_iot.css')
    script(src='/javascripts/jquery/jquery.js')
    script(src="http://openlayers.org/en/v5.2.0/build/ol.js")
    script.
      var center=#{param_center};
      var tabext=#{param_tabext};
      var baseview=#{param_baseview};
      var mapbase = new ol.layer.Tile();
      var map =  new ol.Map();
      var layer1 = new ol.layer.Vector();
      layer1.setVisible(false);
      var layer2 = new ol.layer.Vector();
      layer2.setVisible(false);
      var url_mapserv = '#{param_urlmapserv}';
      var mymap = '#{param_mapfile}';
      var currentResolution;     
      var selectPointerMove;
      var selectSingleClick; 
  body
    block header     
    block maincontent
    block footer    
    script(type='text/javascript' src='/javascripts/script_onglets.js')
    script(type='text/javascript' src='/javascripts/script_changeresolution.js')
    script(type='text/javascript' src='/javascripts/script_mouseevent.js')
    //script(type='text/javascript' src='/javascripts/script_onclick.js')
    script(type='text/javascript' src='/javascripts/script_map.js')
    script(type='text/javascript' src='/javascripts/script_layer.js')
    script(type='text/javascript' src='/javascripts/script_init.js') 
